*{
	margin:0;
	padding:0;
}
html {
  width: 1280px;
  font-size: 62.5%;
  font-family: Meiryo, sans-serif, monospace;
}
body {
  background-color: #eaeaea;
  font-size: 1.4rem;
}
.clear {
  clear:both;
}

.header_wrapper {
  width: 100%;
  height: auto;
  background-color: white;
  border-top: 2px solid #4ea1d5;
  border-bottom: 2px solid #454552;
}
.header_box {
  position: relative;
  margin: 0 4%;
}
.header_logo {
  width: 295px;
  z-index: 99;
  display: inline-block;
  padding-right: 30px;
  padding-top: 8px;
  vertical-align: middle;
}
.header_nav {
  display: inline-block;
  vertical-align: top;
}
.header_nav ul {
  margin: auto;
  text-align: center;
  letter-spacing: 1em;
  display: table;
  padding-top: 4px;
  vertical-align: middle;
}
.header_nav ul li {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  padding-right: 30px;
}
.header_text {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.6rem;
  line-height: 1.6rem;
  padding-top: 0.4%;
}
.header_link {
  padding: 0.3em 0.3em;
  position: relative;
  display: inline-block;
  transition: .3s;
  color: black;
  text-decoration: none;
  width: 80%;
}
.header_link::after {
  position: absolute;
  bottom: 4em;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background-color: #4ea1d5;
  opacity: 0;
  transition: .3s;
}
.header_link:hover::after {
  bottom: 0;
  opacity: 1;
}
.header_right_box {
  width: 30%;
  height: 60%;
  right: 0%;
  top: 0%;
  position: absolute;
  z-index: 99;
}
.header_animal {
  width: 144px;
  height: 52px;
  padding-left: 20px;
  display: inline-block;
  float: right;
}
.sns_twitter {
  width: 26px;
  height: 26px;
  display: inline-block;
  align-items: center;
  vertical-align: middle;
  padding-top: 17px;
  padding-left: 10px;
  float: right;
}
.sns_twitter:hover {
  opacity: 0.6;
}

.slider_box {
  width: 100%;
  padding-top: 1%;
  padding-bottom: 0%;
  margin: auto;
}
.thumb-item {
  width: 74%;
  margin: auto;
  font-size: 0px;
  padding: 1% 0 0 0;
}

.thumb-item li a img {
  width: 98%;
  border-radius: 20px;
  border: 4px solid #fff;
}
.thumb-item-nav {
  padding-top: 1%;
  display: flex;
  justify-content: space-around;
}
.thumb-item-nav li {
  list-style: none;
}
.thumb-item-nav li:first-child {
  margin-left: 30px;
}
.thumb-item-nav li img {
  width: 90%;
  border-radius: 20px;
  border: 2px solid #fff;
}
.thumb_box_sub {
	opacity:0.4;
}
.thumb_box_main{
	opacity:1;
}
#thumb_item_bg {
  width: 100%!important;
  position: absolute!important;
  z-index: -1;
  overflow: hidden;
}
#thumb_item_bg img {
	filter: blur(10px);
	opacity: 0.5;
}

.topics_box_wrapper {
  padding-top: 3%;
  padding-bottom: 3%;
  width: 76%;
  margin: auto;
}
.topics_box_left {
  width: 70%;
  display: inline-block;
  margin-right: 4%;
  vertical-align: top;
}
.topics_box_right {
  width: 23%;
  display: inline-block;
  vertical-align: top;
}
.topics_news_box {
  width: 100%;
  padding-bottom: 2%;
  display: table;
  table-layout: fixed;
  word-break: break-all;
}
.topics_news_box a {
  text-decoration: none;
}
.topics_news_image img {
  border-radius: 20px;
  width: 100%;
  height: auto;
}
.text_overflow {
  overflow: hidden;
}
.topics_news_image {
  width: 35%;
  padding-right: 2%;
  display: table-cell;
  vertical-align: middle;
}
.topics_news_text {
  width: 60%;
  display: table-cell;
  vertical-align: top;
  padding: 2%;
  position: relative;
  color: #454552;
  background: #fff;
  box-sizing: border-box;
  border-radius: 20px;
}
.topics_news_text::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -24px;
  margin-top: -12px;
  border: 12px solid transparent;
  border-right: 12px solid #fff;
  z-index: 2;
}
.topics_news_text::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  margin-top: -14px;
  border: 14px solid transparent;
  z-index: 1;
}
.topics_news_text p {
  margin: 0;
  padding: 0;
}
.topics_news_title {
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 3rem;
}
.topics_news_text_style1 {
  color: white;
  font-size: 2rem;
  background-color: #454552;
  padding: 1%!important;
  border-radius: 10px;
  padding-left: 2%!important;
  margin-bottom: 2%!important;
}
.topics_news_text_style2 {
  font-size: 1.2rem;
  line-height: 2.4rem;
  color: #454552;
}
.top_topics_news_link{
	text-decoration:none;
	font-size:0px;
}
.top_topics_news_link:hover{
	opacity:0.8;
}
.btn_more {
  width: 30%;
  margin: 0% auto auto;
  border-radius: 40px;
  border: #4ea1d5 solid 1px;
}
.btn_more a {
  width: 100%;
  position: relative;
  text-align: center;
  display: block;
  box-sizing: border-box;
  padding: 1em 0;
  color: #4ea1d5;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  background-repeat: repeat;
}
.btn_more a:hover {
  background-image: none;
  background-color: #4ea1d5;
  color: white;
  border-radius: 40px;
}
.top_topics_banner_box{
  width: 100%;
  margin: auto;
  padding-bottom: 1%;
  padding-top: 1%;
}
.top_topics_banner_box a img {
  border-radius: 20px;
  border: 0px solid #fff;
}
.top_topics_banner_box a img:hover {
  opacity: 0.8;
}
.top_twitter_box {
  margin-top: -8%;
  margin-bottom: 8%;
  padding-top: 12%;
  padding-bottom: 4%;
  background-color: white;
  border-radius: 0 0 20px 20px;
}
.top_twitter_callout {
  position: relative;
  padding: 0.5em 0.8em;
  font-size: 2rem;
  background-color: #4ea1d5;
  color: white;
  border-radius: 20px;
}
.top_twitter_callout::after {
  position: absolute;
  content: '';
  top: 100%;
  left: 30px;
  border: 15px solid transparent;
  border-top: 15px solid #4ea1d5;
  width: 0;
  height: 0;
}
.top_search_callout {
  position: relative;
  padding: 0.5em 0.8em;
  margin-bottom: 6%;
  font-size: 2rem;
  background-color: #454552;
  color: white;
  border-radius: 20px;
}
.blog_archive_title_index {
  font-size: 1.2rem;
  background-color: white;
  border-radius: 20px;
  padding: 10px;
  text-decoration: none;
  margin-bottom: 2%;
}
.top_search_callout::after {
  position: absolute;
  content: '';
  top: 100%;
  left: 30px;
  border: 15px solid transparent;
  border-top: 15px solid #454552;
  width: 0;
  height: 0;
}
.search_container {
  box-sizing: border-box;
  position: relative;
  border: 1px solid #999;
  display: block;
  padding: 6px 10px;
  border-radius: 20px;
  height: 3em;
  width: 100%;
  overflow: hidden;
  background-color: white;
  margin-top: 10%;
  margin-bottom: 6%;
}
.search_container input {
  border: none;
  height: 2.0em;
}
.search_container input:focus {
  outline: 0;
}
#s-btn-area {
  position: absolute;
  right: 20px;
}
.top_link_callout {
  position: relative;
  padding: 0.5em 0.8em;
  margin-bottom: 6%;
  font-size: 2rem;
  background-color: #e85a70;
  color: white;
  border-radius: 20px;
}
.top_link_callout::after {
  position: absolute;
  content: '';
  top: 100%;
  left: 30px;
  border: 15px solid transparent;
  border-top: 15px solid #e85a70;
  width: 0;
  height: 0;
}

.top_product_wrapper {
  background-color: #454552;
  padding-top: 2%;
  padding-bottom: 2%;
}
.top_product_title_box {
  text-align: center;
}
.top_product_title {
  position: relative;
  display: inline-block;
  padding: 0 130px;
  color: white;
  margin-bottom: 30px;
}
.top_product_title::before, .top_product_title::after {
  content: '';
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 80px;
  height: 1px;
  color: white;
  background-color: white;
}
.top_product_title::before {
  left: 0;
}
.top_product_title::after {
  right: 0;
}
.top_product_title_style1 {
  font-size: 2.6rem;
}
.top_product_title_style2 {
  font-size: 1.4rem;
}
.top_product_box {
  width: 90%;
  margin: auto;
}
.top_product_li {
  width: 24%;
  height: auto;
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.6%;
  margin-bottom: 1%;
  position: relative;
  border-radius: 20px;
  font-size: 0px;
}
.top_product_li_box {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 20px;
  vertical-align: middle;
  display: flex;
  align-items: center;
}
.top_product_li .caption {
  font-size: 1.8rem;
  text-align: left;
  padding-left: 30px;
  color: #fff;
}
.top_product_li .mask {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(69, 69, 82, 0.4);
	transition:all 0.6s ease;
	border-radius: 20px;
}
.top_product_li:hover .mask {
  opacity: 1;
  padding-top: 20px;
}
.top_product_li a img {
  transition: transform 0.4s linear;
  width:100%;
  max-width: 100%;
  height: auto;
  border-radius: 20px;
}
.top_product_li:hover a img{
 filter: blur(3px);
}

.footer_box_wrapper {
    width: 100%;
    height: auto;
    padding-top: 1%;
    padding-bottom: 2%;
}
.footer_box_keylogo {
  width: 6%;
  margin: auto;
}
.footer_box_copyright {
  font-size: 1.6rem;
  text-align: center;
  color: #454552;
}

#page-top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	font-size: 120%;
	z-index: 999;
}
#page-top a {
	background: #4ea1d5;
	text-decoration: none;
	color: #fff;
	width: 50px;
	padding: 12px 0;
	text-align: center;
	display: block;
	border-radius: 50%;
}
#page-top a:hover {
	text-decoration: none;
	background: #4ea1d5;
	opacity:0.5;
}